body{
background-color: grey;
}
h1{
    color: red;
    font-size: 50px;
    margin-left: 20%;
}
h2{
    color: blue;
    font-size: 40px;
}
h3{
    color: green;
    font-size: 30px;
}
img{
    height: 15%;
    width: 20%;
    margin-left: 30%;
}
