body{
    font-weight: 200px;
}
h1{color: red;}
h2{color: royalblue;}
p{colour:black}
p2{color: green;}
background{color: sandybrown;}
front-size:h1:100px h2:80px p1:60px p2 60px
</home/sam/Desktop/IMG_20190827_180555.jpg>
